<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
	John Quarles can be reached via <a href="mailto:john.w.quarles@gmail.com">e-mail</a>,
	his <a href="http://qdevdive.blogspot.com/">blog</a>, or via Twitter: <a href="https://twitter.com/johnwquarles">@johnwquarles</a>
</p>